<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>4. Redirect Servlet</display-name>
     
     <servlet>
             <servlet-name>Message</servlet-name>
             <servlet-class>com.company.servlet.Message</servlet-class>
     </servlet>
     
     <servlet-mapping>
             <servlet-name>Message</servlet-name>
             <url-pattern>/message</url-pattern>
     </servlet-mapping>
     
     
     <servlet>
             <servlet-name>Add</servlet-name>
             <servlet-class>com.company.servlet.Add</servlet-class>
     </servlet>
     
     <servlet-mapping>
             <servlet-name>Add</servlet-name>
             <url-pattern>/Addition</url-pattern>
     </servlet-mapping>
     
</web-app>